<div id="<%= dom_id portfolio %>">
  <p>
    <strong>Preferred email:</strong>
    <%= portfolio.preferred_email %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= portfolio.active %>
  </p>

  <p>
    <strong>Summary:</strong>
    <%= portfolio.summary %>
  </p>

  <p>
    <strong>Skills:</strong>
    <%= portfolio.skills %>
  </p>


</div>
